* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  header {
    position: relative;
  }  
  
  header nav ul {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    display: flex;
    flex-direction: row;
  }
  
  header nav ul li {
    list-style: none;
    position: relative;
  }

  header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }

  .home-nav {
    color: white;
  }
  
  header nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
  }
  
  header nav ul li:hover ul {
    display: block;
    color: green;
  }
  
  header nav ul li ul li {
    display: block;
  }

  .header-text {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 10;
    color: white;
    font-size: 3rem;
    width: 90%;
    height: 10%;
  }
  
  .header-text ul {
    list-style-type: none;
  }

  .header-bg {
    background-image: url('img/header-image.JPG');
    background-size: cover;
    background-position: 25%;
    z-index: 1; /* to put it behind the text content */
    height:700px;
    position: relative;
    filter: brightness(60%) contrast(120%);
  }

  header nav ul li ul li a {
    color: green;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  main section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  main section article {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
  }
  
  main section article h3 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
  
  @media (max-width: 800px) {
    main {
      padding: 10px;
    }
  
    main section {
      max-width: none;
    }
  
    main section article {
      padding: 10px;
    }
  
    .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }